# 3. Making use of Metadata
We often have more than just the text. What can we do with the metadata?

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
reviews_df = pd.read_json('data/json/amazon_reviews.json', lines=True, encoding='utf-8') # to prevent error due to
reviews_df.sample(3)

,review_id,product_id,reviewer_id,stars,review_body,review_title,language,product_category
194528,en_0211326,product_en_0085402,reviewer_en_0422986,5,For the IT specialist of a certain age. Don't ...,Irresistible,en,apparel
43677,en_0413148,product_en_0517672,reviewer_en_0204911,2,I replaced the clamp with a screw and it works...,The clamp is garbage,en,sports
111689,en_0722797,product_en_0875316,reviewer_en_0749063,3,I like how I can finally play my own music in ...,I like how I can finally play my own music in ...,en,wireless

Get statistics in case your data is quantitative.

In [3]:
reviews_df.describe()

               stars
count  200000.000000
mean        3.000000
std         1.414217
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max         5.000000

## Choose one product category
Let's focus on reviews of one product category.

In [4]:
cameras_df = reviews_df[reviews_df['product_category'] == 'camera']
cameras_df.sample(3)

,review_id,product_id,reviewer_id,stars,review_body,review_title,language,product_category
150936,en_0312775,product_en_0148830,reviewer_en_0274613,4,Just what I wanted do everything it says it do...,It works as it says it dose,en,camera
139316,en_0897148,product_en_0104029,reviewer_en_0859633,4,These have plastic bases but are surviving so ...,Using on Arlo Pro camera,en,camera
126480,en_0481027,product_en_0578464,reviewer_en_0505108,4,I love this lens! I'm sure it won't last long ...,Great lens for the price,en,camera

In [5]:
cameras_df.describe()

             stars
count  2139.000000
mean      3.002338
std       1.461861
min       1.000000
25%       2.000000
50%       3.000000
75%       4.000000
max       5.000000

In [6]:
cameras_list = list(cameras_df['product_id'])
cameras_list_unique = set(cameras_list)
print(len(cameras_list), len(cameras_list_unique))

2139 1956

In [7]:
from collections import Counter
cameras_count = Counter(cameras_list)

# Exercise
Examine reviews with high ratings and reviews with low ratings. Do you see any differences? Use techniques from the <a href="./intro-python/02-reading-text-files.ipynb" target="_blank">previous Notebook</a>.

In [8]:
# Hint: get the list of camera reviews by the following command:
camera_reviews_text = cameras_df['review_body'].tolist()